# Valeurs récupérées depuis la prévisualisation FreeBuff
# (injectées par Vite dans le bundle de dev)
VITE_CONVEX_URL=https://next-coyote-78.convex.cloud
VITE_CONVEX_SITE_URL=https://next-coyote-78.convex.site
VITE_VLY_APP_ID=little-zoos-bet
VITE_VLY_MONITORING_URL=https://harmless-tapir-303.convex.site/runtime-error
